<% provide(:title, "Top") %>
<div class="row">
  <div class="col-md-12">

    <div class="hero" style="background-image:url(<%= asset_path 'ex_hero_main.jpg' %>)">
      <% hero_project_ml = @hero_project.projects_mls.localed(params[:locale]) %>
      <section class="hero-content sash-success">
        <div class="sash-success">
        </div>
        <div class="hero-left">
          <%= link_to projects_detail_path(@hero_project.id) do%>
            <%= image_tag(hero_project_ml.image_path, width: '100%', height: '100%', alt: 'Hero image') %>
          <% end %>
        </div>
        <div class="hero-right">
          <div class="hero-right-01">
            <%= link_to projects_detail_path(@hero_project.id) do %>
              <h2><%= hero_project_ml.title %></h2>
            <% end %>
          </div>
          <div class="hero-right-02">
            <%= link_to projects_creator_path do %>
              <%= image_tag(hero_project_ml.creator_image_path) %>
              <span><%= hero_project_ml.creator_name %></span>
            <% end %>
            <%= link_to projects_category_path(@hero_project.category_id), class:'category-link' do %>
              <span class="glyphicon glyphicon-tag"></span>
              <span><%= @hero_project.category_name(params[:locale]) %></span>
            <% end %>
          </div>
          <div class="hero-right-03">
            <div class="hero-right-03-01">
              <dl>
                <dt>
                  <span class="glyphicon glyphicon-usd"></span>
                  <span>Pledged</span>
                </dt>
                <dd>
                  <%= @hero_project.funded_amount_f %>
                </dd>
              </dl>
            </div>
            <% achieved=@hero_project.funding_achieved %>
            <div class="hero-right-03-02">
              <div class="meter" style="width: <%= achieved %>%">
                <p><%= number_to_percentage(achieved, precision: 0) %></p>
              </div>
            </div>
            <div class="hero-right-03-03">
              <div class="hero-right-03-03-01">
                <dl>
                  <dt>
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Supporters</span>
                  </dt>
                  <dd><%= @hero_project.backer_count_f %></dd>
                </dl>
              </div>
              <div class="hero-right-03-03-02">
                <dl>
                  <dt>
                    <span class="glyphicon glyphicon-time"></span>
                    <span>Days to Go</span>
                  </dt>
                  <dd><%= @hero_project.days_to_go %></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="popular-base">
      <div class="recommended-area">
        <h2><span class="glyphicon glyphicon-bullhorn"></span><span><%= t('main.recommended') %></span></h2>
        <%= link_to 'Discover Project', projects_index_path, class: 'recommended-pjt-aside' %>
        <div class="recommended-pjt-base">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Status</th>
              <th>Title</th>
              <th>Thumbnail</th>
              <th>Creator</th>
              <th>Category</th>
              <th>Pledged Amount</th>
              <th>Funded %</th>
              <th>Supporters</th>
              <th>Days to Go</th>
            </tr>
            <% @rcm_projects.each do |p| %>
              <% p_ml = p.projects_mls.localed(params[:locale]) %>
              <tr>
                <td>
                  <%= link_to projects_detail_path(p.id) do%>
                    <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                  <% end %>
                </td>
                <td><%= p.status_div%></td>
                <td><%= p_ml.title %></td>
                <td><%= image_tag(p_ml.creator_image_path) %></td>
                <td><%= p_ml.creator_name %></td>
                <td><%= p.category_name(params[:locale]) %></td>
                <td><%= p.funded_amount_f %></td>
                <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
                <td><%= p.backer_count_f %></td>
                <td><%= p.days_to_go %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="favorite-ranking-area ranking-area">
        <h2><span class="glyphicon glyphicon-king"></span><span><%= t('main.ranking') %></span></h2>
        <div class="favorite-ranking-pjt-base">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Status</th>
              <th>Title</th>
              <th>Thumbnail</th>
              <th>Creator</th>
              <th>Category</th>
              <th>Pledged Amount</th>
              <th>Funded %</th>
              <th>Supporters</th>
              <th>Days to Go</th>
            </tr>
            <% @fav_projects.each do |p| %>
              <% p_ml = p.projects_mls.localed(params[:locale]) %>
              <tr>
                <td>
                  <%= link_to projects_detail_path(p.id) do%>
                    <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                  <% end %>
                </td>
                <td><%= p.status_div%></td>
                <td><%= p_ml.title %></td>
                <td><%= image_tag(p_ml.creator_image_path) %></td>
                <td><%= p_ml.creator_name %></td>
                <td><%= p.category_name(params[:locale]) %></td>
                <td><%= p.funded_amount_f %></td>
                <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
                <td><%= p.backer_count_f %></td>
                <td><%= p.days_to_go %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="pledged-ranking-area ranking-area">
        <h2><span class="glyphicon glyphicon-king"></span><span><%= t('main.pledged_ranking') %></span></h2>
        <div class="pledged-ranking-pjt-base">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Status</th>
              <th>Title</th>
              <th>Thumbnail</th>
              <th>Creator</th>
              <th>Category</th>
              <th>Pledged Amount</th>
              <th>Funded %</th>
              <th>Supporters</th>
              <th>Days to Go</th>
            </tr>
            <% @fav_projects.each do |p| %>
              <% p_ml = p.projects_mls.localed(params[:locale]) %>
              <tr>
                <td>
                  <%= link_to projects_detail_path(p.id) do%>
                    <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                  <% end %>
                </td>
                <td><%= p.status_div%></td>
                <td><%= p_ml.title %></td>
                <td><%= image_tag(p_ml.creator_image_path) %></td>
                <td><%= p_ml.creator_name %></td>
                <td><%= p.category_name(params[:locale]) %></td>
                <td><%= p.funded_amount_f %></td>
                <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
                <td><%= p.backer_count_f %></td>
                <td><%= p.days_to_go %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="return-ranking-area ranking-area">
        <h2><span class="glyphicon glyphicon-king"></span><span><%= t('main.return_ranking') %></span></h2>
        <div class="return-ranking-pjt-base">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Status</th>
              <th>Title</th>
              <th>Thumbnail</th>
              <th>Creator</th>
              <th>Category</th>
              <th>Pledged Amount</th>
              <th>Funded %</th>
              <th>Supporters</th>
              <th>Days to Go</th>
            </tr>
            <% @fav_projects.each do |p| %>
              <% p_ml = p.projects_mls.localed(params[:locale]) %>
              <tr>
                <td>
                  <%= link_to projects_detail_path(p.id) do%>
                    <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                  <% end %>
                </td>
                <td><%= p.status_div%></td>
                <td><%= p_ml.title %></td>
                <td><%= image_tag(p_ml.creator_image_path) %></td>
                <td><%= p_ml.creator_name %></td>
                <td><%= p.category_name(params[:locale]) %></td>
                <td><%= p.funded_amount_f %></td>
                <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
                <td><%= p.backer_count_f %></td>
                <td><%= p.days_to_go %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="new-pjt">
        <h2><span class="glyphicon glyphicon-leaf"></span><span><%= t('main.new_projects') %></span></h2>
        <div class="new-pjt-base">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Status</th>
              <th>Title</th>
              <th>Thumbnail</th>
              <th>Creator</th>
              <th>Category</th>
              <th>Pledged Amount</th>
              <th>Funded %</th>
              <th>Supporters</th>
              <th>Days to Go</th>
            </tr>
            <% @fav_projects.each do |p| %>
              <% p_ml = p.projects_mls.localed(params[:locale]) %>
              <tr>
                <td>
                  <%= link_to projects_detail_path(p.id) do%>
                    <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                  <% end %>
                </td>
                <td><%= p.status_div%></td>
                <td><%= p_ml.title %></td>
                <td><%= image_tag(p_ml.creator_image_path) %></td>
                <td><%= p_ml.creator_name %></td>
                <td><%= p.category_name(params[:locale]) %></td>
                <td><%= p.funded_amount_f %></td>
                <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
                <td><%= p.backer_count_f %></td>
                <td><%= p.days_to_go %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

      <div class="succeeded-pjt">
        <h2><span class="glyphicon glyphicon-star"></span><span><%= t('main.success_projects') %></span></h2>
        <div class="succeeded-pjt-base">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Status</th>
              <th>Title</th>
              <th>Thumbnail</th>
              <th>Creator</th>
              <th>Category</th>
              <th>Pledged Amount</th>
              <th>Funded %</th>
              <th>Supporters</th>
              <th>Days to Go</th>
            </tr>
            <% @fav_projects.each do |p| %>
              <% p_ml = p.projects_mls.localed(params[:locale]) %>
              <tr>
                <td>
                  <%= link_to projects_detail_path(p.id) do%>
                    <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                  <% end %>
                </td>
                <td><%= p.status_div%></td>
                <td><%= p_ml.title %></td>
                <td><%= image_tag(p_ml.creator_image_path) %></td>
                <td><%= p_ml.creator_name %></td>
                <td><%= p.category_name(params[:locale]) %></td>
                <td><%= p.funded_amount_f %></td>
                <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
                <td><%= p.backer_count_f %></td>
                <td><%= p.days_to_go %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div><!-- #popular-base -->

  </div>
</div>
