<div class="panel panel-default" style="margin-top: 30px;">
  <div class="panel-heading">
    <span>Projects</span>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'Project A', dashboard_index_path %></li>
    <li><%= link_to 'Project B', dashboard_index_path %></li>
  </ul>
</div>
<div class="panel panel-default" style="margin-top: 30px;">
  <div class="panel-heading">
    <span>Menu</span>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'Notifications', dashboard_notifications_path %></li>
    <li><%= link_to 'Messages', dashboard_messages_path %></li>
    <li><%= link_to 'Reports', dashboard_reports_path %></li>
    <li><%= link_to 'Comments', dashboard_comments_path %></li>
    <li><%= link_to 'Rewards', dashboard_rewards_path %></li>
    <li><%= link_to 'Admin Setting', dashboard_admin_path %></li>
  </ul>
</div>
