<% provide(:title, "News") %>
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <% n_ml = @new.ml(locale) %>
  <h2><u><%= n_ml.title %></u></h2>
  <h3><%= l @new.news_datetime %></h3>
  <p><%= n_ml.body %></p>
  <%= link_to 'Back to Top', root_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Back to News', news_index_path %>
</div>
</div>
