<h1>Begin Project</h1>
<nav class="apply-nav">
  <ul>
    <li class="<%= 'on' if on_li == 'basic' %>">1.Basic Info</li>
    <li class="<%= 'on' if on_li == 'contents' %>">2.Project Details</li>
    <li class="<%= 'on' if on_li == 'rewards' %>">3.Rewards</li>
    <li class="<%= 'on' if on_li == 'contact' %>">4.Contact Info</li>
    <li class="<%= 'on' if on_li == 'preview' %>">5.Preview</li>
    <li class="<%= 'on' if on_li == 'complete' %>">6.Complete</li>
  </ul>
</nav>
