<div class="col-md-3">
  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-search"></span>
      <%= t('projects.search_pjt') %>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to t('projects.open'), projects_index_path %></li>
      <li><%= link_to t('projects.last_minute'), projects_index_path %></li>
      <li><%= link_to t('projects.new'), projects_index_path %></li>
      <li><%= link_to t('projects.big'), projects_index_path %></li>
      <li><%= link_to t('projects.final_push'), projects_index_path %></li>
      <li><%= link_to t('projects.list'), projects_index_path %></li>
    </ul>
  </div>

  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-tag"></span>
      <%= t('projects.search_by_ctgr') %>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'Art', projects_index_path %></li>
      <li><%= link_to 'Product', projects_index_path %></li>
      <li>repeate</li>
    </ul>
  </div>
</div>
