<div class="col-md-3">
  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-search"></span>
      <%= t('projects.search_pjt') %>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to t('projects.open'), projects_open_path %></li>
      <li><%= link_to t('projects.last_minute'), projects_last_minute_path %></li>
      <li><%= link_to t('projects.new'), projects_new_path %></li>
      <li><%= link_to t('projects.pledged'), projects_pledged_path %></li>
      <li><%= link_to t('projects.final_push'), projects_final_push_path %></li>
      <li><%= link_to t('projects.list'), projects_index_path %></li>
    </ul>
  </div>

  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-tag"></span>
      <%= t('projects.search_by_ctgr') %>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <% Category.all.each do |c| %>
        <li><%= link_to c.ml(locale).name, projects_category_path(c.id) %></li>
      <% end %>
    </ul>
  </div>
</div>
