<% provide(:title, "Details") %>
<% p_ml = @project.ml(locale) %>
<div class="row" style="height: 530px;">
  <div class="col-md-12">
    <div class="pjt-hero">
      <section class="pjt-hero-content">
        <div class="pjt-hero-left">
          <%= link_to projects_detail_path do%>
            <%= image_tag(p_ml.image_path, width: '100%', height: '100%', alt: 'Hero image') %>
          <% end %>
        </div>
        <div class="pjt-hero-right">
          <div class="pjt-hero-right-01">
            <div class="pjt-hero-right-01-01">
              <span class="glyphicon glyphicon-usd"></span>
              <span>Pledged</span>
            </div>
            <div class="pjt-hero-right-01-02">
              <span><%= @project.funded_amount_f%></span>
            </div>
            <div class="pjt-hero-right-01-03">
              <span>Goal:</span>
              <span><%= @project.goal_amount_f %></span>
            </div>
          </div>
          <div class="pjt-hero-right-02">
            <% achieved = @project.funding_achieved %>
            <div class="meter" style="width: <%= achieved %>30%">
              <p><%= number_to_percentage(achieved, precision: 0) %></p>
            </div>
          </div>
          <div class="pjt-hero-right-03">
            <dl>
              <dt>
                <span class="glyphicon glyphicon-user"></span>
                <span>Supporters</span>
              </dt>
              <dd><%= @project.backer_count_f %></dd>
            </dl>
          </div>
          <div class="pjt-hero-right-04">
            <dl>
              <dt>
                <span class="glyphicon glyphicon-time"></span>
                <span>Days to Go</span>
              </dt>
              <dd><%= @project.days_to_go %></dd>
            </dl>
          </div>
          <div class="pjt-hero-right-05">
            <%= link_to '#pjt-course' do %>
              <strong>Select a Course</strong>
            <% end %>
          </div>
        </div>
      </section>
      <div class="pjt-title">
        <h1><%= p_ml.title %></h1>
        <small><span class="glyphicon glyphicon-tag"><span><%= @project.category_name(locale) %></small>
      </div>
      <div class="css-icon">
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" 
                             data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-pills">
      <li data-target-id="pjt-detail" class="active"><a href="#">Home</a></li>
      <li data-target-id="pjt-report"><a href="#">Report</a></li>
      <li data-target-id="pjt-comment"><a href="#">Commnets</a></li>
    </ul>
    <div class="detail-area">
      <section id="pjt-detail" class="detail-section">
        <% @project.details(locale).each do |d| %>
         <div class="detail-box">
           <div class="detail-box-title">
             <% if d.title %>
               <h2><%= d.title %></h2>
             <% end %>
           </div>
           <% if d.image_path %>
             <%= image_tag(d.image_path, width: '100%') %>
           <% end %>
           <div class="detail-box-text">
             <% if d.description %>
               <p><%= d.description %></p>
             <% end %>
           </div>
         </div>
        <% end %>
      </section>

      <section id="pjt-report" class="detail-section">
        <% @project.available_reports.each do |r| %>
          <% r_ml = r.ml(locale) %>
          <div class="report-box">
            <div class="report-box-header">
              <div class="report-box-creator">
                <%= image_tag(p_ml.creator_image_path) %>
                <span><%= p_ml.creator_name %></span>
              </div>
              <div class="report-box-datetime">
                <%= I18n.l r.report_datetime, format: :long %>
              </div>
              <div class="report-box-title">
                <%= r_ml.title %>
              </div>
            </div>
            <div class="report-box-body">
              <%= image_tag(r_ml.image_path, width: '100%') if r_ml.image_path %>
              <%= r_ml.body %>
            </div>
            <div class="report-box-footer">
              <span class="btn btn-default btn-xs">f</span>
              <span class="btn btn-default btn-xs">t</span>
            </div>
          </div>
        <% end %>
      </section>

      <section id="pjt-comment" class="detail-section">
        <% @project.comments_parents.each do |c| %>
          <% c_user = User.find(c.comment_user_id) %>
          <div class="comment-box">
            <div class="comment-box-header">
              <div class="comment-box-creator">
                <%= image_tag(c_user.image_path, width: '40px;') %>
                <span><%= c_user.full_name %></span>
              </div>
              <div class="comment-box-datetime">
                <%= l c.comment_datetime, format: :long %>
              </div>
            </div>
            <div class="comment-box-body">
              <p><%= c.comment_body %></p>
            </div>
            <% c.children.each do |cc| %>
              <% cc_user = User.find(cc.comment_user_id) %>
              <div class="comment-reply-box">
                <div class="comment-reply-box-header">
                  <div class="comment-reply-box-creator">
                    <%= image_tag(cc_user.image_path, width: '40px;') %>
                    <span><%= cc_user.full_name %></span>
                  </div>
                  <div class="comment-reply-box-datetime">
                    <%= cc.comment_datetime %>
                  </div>
                </div>
                <div class="comment-reply-box-body">
                  <p><%= cc.comment_body %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </section>
    </div>
    <div class="btn-select-course">
      <%= link_to '#pjt-course' do %>
        <strong>Select a Course</strong>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="pjt-creator">
      <h2>Creator</h2>
      <div class="pjt-creator-box">
        <div class="pjt-creator-box-header">
          <%= link_to projects_creator_path do %>
            <%= image_tag(p_ml.creator_image_path) %>
            <span><%= p_ml.creator_name %></span>
          <% end %>
          <p><%= link_to 'Contact this creator', projects_detail_path %></p>
        </div>
        <div class="pjt-creator-box-body">
          <p><%= link_to "f: #{@project.facebook_user_name}", "https://www.facebook.com/#{@project.facebook_user_name}" %></p>
          <p><%= link_to "t: #{@project.twitter_user_name}", "https://www.twitter.com/#{@project.twitter_user_name}" %></p>
        </div>
        <div class="pjt-creator-box-footer">
          <p>Members</p>
          <p>
            <% c_user = User.find(@project.creator_user_id) %>
            <%= link_to members_index_path(c_user.id) do %>
              <%= image_tag(c_user.image_path, size:'45x45') %>
              <span><%= c_user.full_name %></span>
            <% end %>
          </p>
          <% @project.project_members.each do |m| %>
            <% m_user = User.find(m.member_user_id) %>
            <p>
              <%= link_to members_index_path(m_user.id) do %>
                <%= image_tag(m_user.image_path, size:'45x45') %>
                <span><%= m_user.full_name %></span>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div id="pjt-course" class="pjt-course">
      <h2>Courses</h2>
      <% @project.rewards.each do |r| %>
        <% r_ml = r.ml(locale) %>
        <div class="pjt-course-box">
          <div class="pjt-course-box-header">
            <h3>Course of <%= r.price %></h3>
          </div>
          <div class="pjt-course-box-body">
            <div class="course-title">
              <h2><%= r_ml.title %></h2>
            </div>
            <div class="course-picture">
              <%= image_tag r_ml.image_path %>
            </div>
            <div class="course-description">
              <p>
                <%= r_ml.description %>
              </p>
            </div>
            <hr></hr>
            <p>
            <span class="glyphicon glyphicon-briefcase">
              Estimated delivery: 
              <%= t(:abbr_month_names, scope: :date)[r.estimated_delivery_month] + ' ' + r.estimated_delivery_year.to_s %>
            </span>
            </p>
            <p>
            <span class="glyphicon glyphicon-globe">
              Ships to: <%= Division.val_name(5, r.ships_to_div, locale) %>
            </span>
            </p>
          </div>
          <div class="pjt-course-box-footer">
            <%= link_to 'SELECT', rewards_select_path(r.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
