<% provide(:title, "Projects") %>
<div class="row">
  <%= render 'sidemenu' %>
  <div class="col-md-9">
    <div class="pjt-list-area">
      <% if @ctgr_name %>
        <h2><span><%= t(@list_title_t_arg, ctgr_name: @ctgr_name) %></span></h2>
        <h5>Top > <%= t('projects.category') %> > <%= @ctgr_name %></h5>
      <% else %>
        <h2><span><%= t(@list_title_t_arg) %></span></h2>
        <h5>Top > <%= t(@list_title_t_arg) %></h5>
      <% end %>
      <div class="pjt-list-base">
        <table class="table">
          <tr>
            <th>Image</th>
            <th>Status</th>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Creator</th>
            <th>Category</th>
            <th>Pledged Amount</th>
            <th>Funded %</th>
            <th>Supporters</th>
            <th>Days to Go</th>
          </tr>
          <% @projects.each do |p| %>
            <% p_ml = p.ml(locale) %>
            <tr>
              <td>
                <%= link_to projects_detail_path(p.id) do%>
                  <%= image_tag(p_ml.image_path, width: '150px', height: '100px', alt: 'Project image') %>
                <% end %>
              </td>
              <td><%= p.status_div%></td>
              <td><%= p_ml.title %></td>
              <td><%= image_tag(p_ml.creator_image_path) %></td>
              <td><%= p_ml.creator_name %></td>
              <td><%= p.category_name(locale) %></td>
              <td><%= p.funded_amount_f %></td>
              <td><%= number_to_percentage(p.funding_achieved, precision: 0) %></td>
              <td><%= p.backer_count_f %></td>
              <td><%= p.days_to_go %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  </div>
</div>
