<% provide(:title, "FAQs") %>
<div class="row">
  <%= render 'sidemenu', faqs_expanded: true %>
  <div class="col-md-9">
    <h2>Frequently Asked Questions</h2>
    <div class="top-box">
      <h3>Categories</h3>
      <ul>
        <li><%= link_to t('helps.sidemenu.about_vvf'), '#about-vvf' %></li>
        <li><%= link_to t('helps.sidemenu.creator_questions'), '#creator-questions' %></li>
        <li><%= link_to t('helps.sidemenu.supporter_questions'), '#supporter-questions' %></li>
        <li><%= link_to t('helps.sidemenu.about_payment'), '#about-payment' %></li>
      </ul>
    </div>

    <div id="about-vvf" class="anchor"></div>
    <h3><%= t('helps.sidemenu.about_vvf') %></h3>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q1. Question 1</p>
      </div>
      <div class="helps-section-box">
        <p>A1. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q2. Question 2</p>
      </div>
      <div class="helps-section-box">
        <p>A2. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q3. Question 3</p>
      </div>
      <div class="helps-section-box">
        <p>A3. Answer to question.</p>
      </div>
    </section>

    <div id="creator-questions" class="anchor"></div>
    <h3><%= t('helps.sidemenu.creator_questions') %></h3>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q1. Question 1</p>
      </div>
      <div class="helps-section-box">
        <p>A1. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q2. Question 2</p>
      </div>
      <div class="helps-section-box">
        <p>A2. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q3. Question 3</p>
      </div>
      <div class="helps-section-box">
        <p>A3. Answer to question.</p>
      </div>
    </section>

    <div id="supporter-questions" class="anchor"></div>
    <h3><%= t('helps.sidemenu.supporter_questions') %></h3>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q1. Question 1</p>
      </div>
      <div class="helps-section-box">
        <p>A1. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q2. Question 2</p>
      </div>
      <div class="helps-section-box">
        <p>A2. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q3. Question 3</p>
      </div>
      <div class="helps-section-box">
        <p>A3. Answer to question.</p>
      </div>
    </section>

    <div id="about-payment" class="anchor"></div>
    <h3><%= t('helps.sidemenu.about_payment') %></h3>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q1. Question 1</p>
      </div>
      <div class="helps-section-box">
        <p>A1. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q2. Question 2</p>
      </div>
      <div class="helps-section-box">
        <p>A2. Answer to question.</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        <p>Q3. Question 3</p>
      </div>
      <div class="helps-section-box">
        <p>A3. Answer to question.</p>
      </div>
    </section>

  </div>
</div>
