<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Vin-Vin Funding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://ccchart.com/js/ccchart.js', charset: 'utf-8', 'data-turbolinks-track' =>  true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <p class="notice_"><%= notice %></p>
  <p class="alert_"><%= alert %></p>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
