<% provide(:title, "Member") %>
<div class="row">
  <div class="col-md-12">
    <div class="member-info">
      <%= image_tag 'ex_user_thumb_01.png' %>
      <dl>
        <dt>Name</dt>
        <dd>Sam, Smith</dd>
        <dt>Birthday</dt>
        <dd>November 25th, 1986</dd>
        <dt>Facebook</dt>
        <dd><%= link_to 'f' , 'https://www.facebook.com' %></dd>
        <dt>Twitter</dt>
        <dd><%= link_to 't', 'https://www.twitter.com' %></dd>
      </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default" style="margin-top: 30px;">
      <div class="panel-heading">
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to 'Favorite Projects', members_favorite_path %></li>
        <li><%= link_to 'Supported Projects', members_supported_path %></li>
        <li><%= link_to 'Posted Projects', members_posted_path %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="pjt-list-area">
      <h2>Favorite</h2>
      <div class="pjt-list-base">
        <table class="table">
          <tr>
            <th>Image</th>
            <th>SuccessOrNot</th>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Creator</th>
            <th>Category</th>
            <th>Pledged Amount</th>
            <th>Funded %</th>
            <th>Supporters</th>
            <th>Days/Hours to Go</th>
          </tr>
          <tr>
            <td>
              <%= link_to projects_detail_path do%>
                <%= image_tag('ex_hero_left.jpg', width: '150px', height: '100px', alt: 'Hero image') %>
              <% end %>
            </td>
            <td>Success</td>
            <td>We are doing something!!</td>
            <td><%= image_tag('ex_hero_thumb.jpg') %></td>
            <td>Me</td>
            <td>Product</td>
            <td>$24,094</td>
            <td>34%</td>
            <td>132</td>
            <td>23Days</td>
          </tr>
        </table>
      </div>

      <h2>Supported</h2>
      <div class="pjt-list-base">
        <table class="table">
          <tr>
            <th>Image</th>
            <th>SuccessOrNot</th>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Creator</th>
            <th>Category</th>
            <th>Pledged Amount</th>
            <th>Funded %</th>
            <th>Supporters</th>
            <th>Days/Hours to Go</th>
          </tr>
          <tr>
            <td>
              <%= link_to projects_detail_path do%>
                <%= image_tag('ex_hero_left.jpg', width: '150px', height: '100px', alt: 'Hero image') %>
              <% end %>
            </td>
            <td>Success</td>
            <td>We are doing something!!</td>
            <td><%= image_tag('ex_hero_thumb.jpg') %></td>
            <td>Me</td>
            <td>Product</td>
            <td>$24,094</td>
            <td>34%</td>
            <td>132</td>
            <td>23Days</td>
          </tr>
        </table>
      </div>

      <h2>Posted</h2>
      <div class="pjt-list-base">
        <table class="table">
          <tr>
            <th>Image</th>
            <th>SuccessOrNot</th>
            <th>Title</th>
            <th>Thumbnail</th>
            <th>Creator</th>
            <th>Category</th>
            <th>Pledged Amount</th>
            <th>Funded %</th>
            <th>Supporters</th>
            <th>Days/Hours to Go</th>
          </tr>
          <tr>
            <td>
              <%= link_to projects_detail_path do%>
                <%= image_tag('ex_hero_left.jpg', width: '150px', height: '100px', alt: 'Hero image') %>
              <% end %>
            </td>
            <td>Success</td>
            <td>We are doing something!!</td>
            <td><%= image_tag('ex_hero_thumb.jpg') %></td>
            <td>Me</td>
            <td>Product</td>
            <td>$24,094</td>
            <td>34%</td>
            <td>132</td>
            <td>23Days</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
